.header {
  position: relative;
}
.highlight::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 30%;
  left: 50%;
  bottom: 15%;
  transform: translateX(-50%);
  background-color: #6063fe;
  z-index: -1;
  transition: height 0.35s ease-in-out;
}
.highlight:hover::before {
  height: 50%;
}
.card-header {
  background-image: linear-gradient(to right, #3ca55c, #ffea00);
  background-clip: text;
  color: transparent;
}
button {
  width: 100px;
}
button:hover {
  width: 100px;
  background-color: #6063fe;
}

.table {
  border-radius: 7px;
  overflow: hidden;
  /* box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.2); */
  /* background-color: #6063fe; */
}

.table tr {
  background-color: #6063fe;
}
